extends layout

block content
  h1 Myntra Box Orchestrator
  p Welcome to QA Orchestration Platform
  form(name="input", action="/login" method="post")
    input(type="submit" value="Login with Google")